#Pregunta1, #Pregunta2, #Pregunta3{

	display: block;
	/*margin-bottom: 30px;*/
	margin: 30px auto;
	width: 50%;
	padding-left: 100px;
	padding-top: 10px;
    border:double 3px #3a0cf0;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:75px;

}